h1{
    text-align: center;
    color:violet; 
    font-weight: bold
}
hr{
    width: 500px;
    height: 2px;
    color:violet;
    background-color:violet
}
table, th, td {
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
    background-color: white;
  }
th{
    background-color: violet;
    color: white
}
.mario{
    padding-right: 0%;
}